<!DOCTYPE html>
<html>
<head>
  <title>HackLikeMe</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
	<header>
		<div id="login">
		<% if current_user %>
			<%= link_to '[Log Out]', sign_out_path %>
		<% else %>
			<%= link_to '[Log In]', '/auth/twitter' %>
		<% end  %>
		</div>
		<div id="title">
			<h1>Hack Like Me</h1>
		</div>
	</header>
	<% if flash[:error] %>
		<div id="subheading">
			<h2>
				Wait a moment!		
			</h2>
		</div>
		<div id="quip">
			<p> <%= flash[:error] %></p>
		</div>
	<% end %>

<%= yield %>

</body>
</html>
